<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <connection_string>Server=.;Integrated Security=SSPI;initial catalog=AdventureWorks2012</connection_string>
  <use_default_sql_cmd_vars>True</use_default_sql_cmd_vars>
  <deployment_folder>Z:\goeddie\tSQLt+SSDT Example\AdventureWorksExample\AdventureWorksExample\Deploy</deployment_folder>
</settings>
